# Enable CORS

Header set Access-Control-Allow-Origin "\*"

# Set proper MIME types

AddType image/jpeg .jpg .jpeg .jfif
AddType image/png .png
AddType image/gif .gif
AddType image/webp .webp
AddType image/bmp .bmp
AddType image/tiff .tiff .tif
AddType image/avif .avif

# Enable MIME type detection

Options +MultiViews

# Disable directory listing

Options -Indexes

# Enable following symlinks

Options +FollowSymLinks

# Set default character set

AddDefaultCharset UTF-8

# Enable CORS preflight

RewriteEngine On
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.\*)$ $1 [R=200,L]
