.message {
  line-height: 1.5;
}

.warningBox {
  display: flex;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  background: rgba(var(--color-warning-rgb), 0.1);
  border-radius: var(--border-radius-md);
  border-left: 3px solid var(--color-warning);
  color: var(--color-warning);
  margin-bottom: var(--spacing-xl);
}

.warningBox span {
  font-size: 24px;
}

.warningBox p {
  margin: 0;
  font-size: 0.85rem;
}
